:root {
    --primary-color: #055a05;
    /* forest green*/
    --secondary-color: #f4a261;
    /* warm sand*/
    --accent1-color: #264653;
    /* dark slate blue */
    --accent2-color: #e9c46a;
    /* Light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

/* enhancement of About Us Page*/
/* set the header to a grid */

header {
    background-color: #E6E6FA;
    display: grid;
    align-items: center;
    grid-template-columns: 120px 1fr;
    margin-bottom: 1rem;
}

.header-nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
}

.header-nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
}

/* footer layout */
footer {
    background-color: #E6E6FA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

footer p {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

footer img {
    width: 50px;
    height: 50px;
}

h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 40px;
    width: 100%;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
}

.hero article {
    position: absolute;
    top: 255px;
    background-color: var(--accent2-color);
    opacity: 0.7;
    color: black;
}

/* grid picture section */
.grid-picture {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.grid-picture img {
    width: 130px;
    height: 100px;
}

.grid-picture figcaption {
    text-align: center;
}

/* history section */

.history-section .history-div {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    gap: 20px;
    align-items: center;
}

.history-section img {
    width: 200px;
    height: 150px;
}

section {
    margin-left: 0px;
    margin-right: 0px;
}

section p {
    color: black;
}

section h2 {
    color: #fff;
    background-color: var(--accent1-color);
    text-align: center;
    padding: 10px 0;
}

section p {
    color: black;
}

/* contact page */
.address-section {
    text-align: center;
    line-height: 1.5;
    /* background-color: lightblue; */
}

.address-section .company-name {
    color: black;
    font-size: 30px;
}